html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.header{
    background-color: #008080;
    padding: 1rem;
    text-align: center;    
}
img{
   max-width: 15%;
   float:left;
   margin-right: 15px;
   margin-bottom: 15px;
   margin-left: 10px;
}
form {
    width: 70%;
    float:left;
    border: 1px solid #ccc;
    padding: 1rem;
}

.linklist {
    list-style-type: none;
    text-align: right;
    float:left;
    display: flex;
    flex-direction:column;
    margin-bottom: 100%;
    margin-right: 50px;
}
.link{
    text-decoration:none;
    padding-bottom: 15px;
}
.linktext{
    text-decoration:none;
    color: #008080;
}  
@media screen and (max-width: 600px) {
    .linklist {
        float:none;
        display: flex;
        flex-direction: row;
        padding-left: 1rem;
        padding-top: 1rem;
        margin-right: 100%;
        margin-bottom: 0;
        text-align:center;
    }
    .link {
        padding-top:0;
        padding-bottom:0;
        border-left: 1px solid #ccc;
        padding-right: 50px;
        padding-left: 50px;
        display:inline-block;
        margin-right: 100%;
    }
}  

.bodytext{
    font-size: 1.7vw;
    margin-bottom: 1%;
}
input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}
form button {
    display: block;
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 5rem;
    margin-left: auto;
}
.probablythefooter {
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: #008080;
    text-align: center;
    color: white;
    padding: 1rem;

}


 